{% extends "base.html" %}
{% from "_form_macros.html" import render_field %}

{% block content %}
    <h1>Вход</h1>
    <form method="post">
        {{ form.hidden_tag() }}
        {{ render_field(form.username) }}
        {{ render_field(form.password) }}
        <div class="mb-3 form-check">
            {{ form.remember(class="form-check-input") }}
            {{ form.remember.label(class="form-check-label") }}
        </div>
        <button type="submit" class="btn btn-primary">Войти</button>
    </form>
{% endblock %}